* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

#root {
  min-width: 425px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  width: 960px;
  display: flex;
  flex-direction: row;

  background-color: lightsteelblue;
}

.nav-button {
  width: 25%;
  padding: 10px;
  text-align: center;
}

.nav-button:hover {
  background-color: cadetblue;
  cursor: pointer;
}

.panel {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px 10px 40px;
  margin-bottom: 20px;
}

#heading {
  margin-top: 80px;
  background-color: white;
  border: none
}

#heading > h1 {
  width: 100%;
  text-align: center;
  font-size: 4rem;
}

.panel-heading {
  margin-left: 40px;
  margin-bottom: 0.5em;
}

.contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.contact > img {
  margin-left: 100px;
  margin-right: 20px;
  height: 40px;
  width: 40px;
}

.link {
  color: rgb(100, 100, 255);
  text-decoration: none;
}

.link:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.skill-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1.5em;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill > img {
  object-fit: contain;
  max-width: 100%;
}

.skill-big {
  width: 20%;
}

.skill-big > img {
  height: 200px;
}

.skill-row.small-skills {
  justify-content: center;
}

.skill-small {
  width: 10%;
  margin-left: 10px;
  margin-right: 10px;
}

.skill-small > img {
  height: 120px;
}

.skill-small > p {
  font-size: .5em;
}

.panel > p {
  margin-bottom: 1em;
}

p > span {
  padding-left: 2em;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
  border-radius: 0.5em;
  background-color: rgb(241, 241, 241);
}

.project:last-of-type {
  margin-bottom: 0;
}

.project > div {
  width: 48%;
}

.project-title {
  margin: 1em 0 1em 1em;
}

.project-info > p {
  margin-bottom: 1em;
  font-size: .7em;
}

.project-info .skill-row .skill img {
  height: 80px;
}

.project-info .bold {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
}

.project-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-link a {
  font-size: .7em;
}

.project-link p {
  width: 40px;
  font-size: 40px;
  margin-right: 10px;
}

.project-link img {
  object-fit: contain;
  height: 40px;

  margin-right: 10px;
}

.project-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.project-image > img {
  max-width: 100%;
  object-fit: contain;
}

footer {
  text-align: center;
  font-size: .5em;
}

@media only screen and (max-width: 960px) {
  .navbar {
    width: 100%;
  }

  .panel {
    padding-left: 20px;
    padding-right: 20px;
  }

  .project {
    flex-direction: column-reverse;
  }

  .project > div {
    width: 100%;
    padding: 20px;
  }

  .project-image > img {
    max-height: 400px;
  }

  .project-title {
    margin-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  * {
    font-size: 1rem;
  }

  .skill-big > img {
    height: 100px;
  }

  .skill-small > img {
    height: 70px;
  }

  .project-link > p {
    font-size: 1.5em;
  }

  .project-link > img {
    height: 25px;
  }

  .project-info > .skill-row > .skill > img {
    height: 50px;
  }
}






